@import "../mixins.scss";
.wraper-headerH2 {
  background-color: #fff200;
  text-align: center;
  margin-bottom: 60px;
  max-width: 100%;
  @media (max-width: 1200px) {
    margin-bottom: 52px;
  }
  @media (max-width: 768px) {
    margin-bottom: 35px;
  }
  .container-headerH2 {
    margin: 0 auto;
    max-width: 894px;
    padding: 31px 0 31px 0;
    @media (max-width: 1200px) {
      max-width: 593px;
      padding: 357px 0 20px 0px;
    }
    @media (max-width: 768px) {
      max-width: 320px;
      padding-top: 445px;
      padding-bottom: 40px;
    }
    h2 {
      @include pfontz(Montserrat, 18px, #000, 700, 29px);
      text-align: center;
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 27px;
      }
    }
  }
}
